<!DOCTYPE html>
<html>

<head>
	<title>
		Inserisci una nuova destinazione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
    <a class = "home" href="/"> Home </a>
		
    <div th:if="${#request.userPrincipal}">
    		<a href="/logout">Logout</a>
		</div>

		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	
	<div class = "logo"><img src="/images/SiwVLogo.png" width="20%" /></div>
	<h1>Aggiungi una destinazione</h1>
	<div class="utente" th:if="${#request.userPrincipal}">
		<div th:text="'Bentornato ' + ${#request.userPrincipal.principal.username}"> </div>
    		<a href="/authenticated/userDetails">>Vai al tuo account </a>
	</div>
	<form th:action="@{/admin/newDestinazione}" method="POST" th:object="${destinazione}" enctype="multipart/form-data">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
	
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${destinazione.nome}" /></span>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"> </span>
		</div>

	<div class= "descrizioneContainer">
    <label for="text"> <p>Descrizione: </p></label>
    <textarea id="text" class="descrizione" name="descrizione" th:field="${destinazione.descrizione}"></textarea>
    <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"> </span>
</div>
<div>
			<label>Prezzo base:</label> 
			<span><input type="number" th:field="${destinazione.prezzoBase}" /></span>
		</div>
		<div>
    <label>Immagini:</label>
    <input type="file" th:name="file" multiple="multiple" />
</div>


  
  <label class="categoriaTesto" for="selezionaCategoria">Seleziona una categoria:</label>
<select class="selezionaCategoria" id="selezionaCategoria" th:field="${destinazione.categoria.id}"> 
    <option value="">Scegli la categoria</option>
    <th:block th:each="categoria : ${categorie}">
        <option th:text="${categoria.nome}" th:value="${categoria.id}"></option>
    </th:block>
</select>

		
		<div>
			<span><button class = "conferma" type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>