<!DOCTYPE html>
<html>
   <head>
      <title >
         SiwAInVacanza - Gestisci Destinazione
      </title>
      <link rel="stylesheet" href="/css/stile.css" />
   </head>
   <body>
      <header>
         <a class = "home" href="/"> Home </a>
                
         
         <div th:if="${#request.userPrincipal}">
            <a href="/logout">Logout</a>
         </div>
         <div th:unless="${#request.userPrincipal}">
            <a href="/login">Login</a>
         </div>
      </header>
      
      <div class = "logo"><img src="/images/SiwVLogo.png" width="20%" /></div>
        <h1 th:text="${destinazione.nome}">Ibiza</h1>
        <div class="utente" th:if="${#request.userPrincipal}">
		<div th:text="'Bentornato ' + ${#request.userPrincipal.principal.username}"> </div>
    		<a href="/authenticated/userDetails">>Vai al tuo account </a>
	</div>
	
      <div class = "boxImage"> 
         <img th:if="${image == null}" src="/images/SiwVLogo.png" />
		<img th:if="${image != null}" th:src="@{'data:image/png;base64,' + ${image.base64Image}}"/>
      </div>
      <div class = "boxImageMini">
         <ul>
            <li th:each="i : ${images}">
               <div class = "minibox">
                  <a th:href="@{'/admin/destinazione' + '/' + ${destinazione.id} + '/' + ${i.id}}">
					<img th:href="@{'/admin/destinazione' + '/' + ${destinazione.id} + '/' + ${i.id}}" 
                  th:src="@{'data:image/png;base64,' + ${i.base64Image}}"/>
                  </a>
               </div>
            </li>
         </ul>
      </div>
     
	<div class="ContainerAdmin">
		<div class="descrizioneContainerAdmin">
	<h3 th:text="${destinazione.descrizione}"> </h3>
	<form th:if="${image == null}" th:action="@{'/admin/updateDescrizione/'+ ${destinazione.id}+'/0'}" method="post">
			<span><input type="text" th:value="${descrizione}" name="descrizione" placeholder="Cambia descrizione"/></span>
        	<a><input type="submit" value="Cambia"/></a>
	</form> 
    <form th:unless="${image == null}"th:action="@{'/admin/updateDescrizione/'+ ${destinazione.id}+'/'+${image.id}}" method="post">
			<span><input type="text" th:value="${descrizione}" name="descrizione" placeholder="Cambia descrizione"/></span>
        	<a><input type="submit" value="Cambia"/></a>
	</form> 
	</div>
	<div class="prezzoBaseContainerAdmin">
	<h3 th:text="${destinazione.prezzoBase}+' euro'"> </h3>
	<form th:if="${image == null}" th:action="@{'/admin/updatePrezzoBase/'+ ${destinazione.id}+'/0'}" method="post">
			<span><input type="number" th:value="${prezzoBase}" name="prezzoBase" placeholder="Cambia prezzo base"/></span>
        	<a><input type="submit" value="Cambia"/></a>
	</form>
	<form th:unless="${image == null}" th:action="@{'/admin/updatePrezzoBase/'+ ${destinazione.id}+'/'+${image.id}}" method="post">
			<span><input type="number" th:value="${prezzoBase}" name="prezzoBase" placeholder="Cambia prezzo base"/></span>
        	<a><input type="submit" value="Cambia"/></a>
	</form>
	</div>
	<div id="periodiDest">
		<a th:href="@{'/admin/listaPeriodiDestinazione' + '/' + ${destinazione.id}}">Visualizza e gestisci i periodi </a>
	 </div>
	</div>
	
   
      <h2 class="recensioniH2">Visualizza e gestisci le recensioni </h2>
	
		<div class ="recensioni" th:if="${recUtente!=null }">
			<div class="testo">
            <span id="titolo" th:text="${recUtente.utente.getName()}"> </span>
          
      		<p id="titolo" th:text="${recUtente.titolo}+ ' ' + ${recUtente.voto}+ '*'"> </p>
			<p th:if="${recUtente.testo!=null}" th:text="${recUtente.testo}"> </p>
			</div>
			<a class="conferma" th:href="@{'/authenticated/rimuoviRecensione/' + ${recUtente.id}}"><button type="button">Rimuovi</button></a>
			
     	</div>
        <div class ="recensioni" th:unless="${recUtente!=null }">
			<a class="conferma" th:href="@{'/authenticated/formNewRecensione/' + ${destinazione.id}}"><button type="button">Aggiungi recensione</button></a>
        </div>
  	<div class='recensioni'  th:each="recensione : ${recensioniNotUtente}"> 
		  <div class="testo">
      <span id="titolo" th:text="${recensione.utente.name}"> </span>
      
      <p id="titolo" th:text="${recensione.titolo}+ ' ' + ${recensione.voto}+ '*'"> </p>
		<p th:if="${recensione.testo!=null}" th:text="${recensione.testo}"> </p>
		</div>
		<a class="conferma" th:href="@{'/admin/rimuoviRecensione/' + ${recensione.id}}"><button type="button">Rimuovi</button></a>
		  
  </div>
   </body>
</html>