<!DOCTYPE html>
<html>
   <head>
      <title >
         SiwAInVacanza - Gestisci Destinazione
      </title>
      <link rel="stylesheet" href="/css/stile.css" />
   </head>
   <body>
      <header>
         <a class = "home" href="/"> Home </a>
         <a class = "home" href="/"> Modifica descrizione </a>
         <a class = "home" href="/"> Modifica nome destinazione </a>
         <div th:if="${#request.userPrincipal}">
            <span th:text="'Bentornato ' + ${#request.userPrincipal.principal.username}"></span>
            <span href="/authenticated/userDetails">>Vai al tuo account </span>
            <a href="/logout">Logout</a>
         </div>
         <div th:unless="${#request.userPrincipal}">
            <a href="/login">Login</a>
         </div>
      </header>
      <div class = "logo"><img src="/images/SiwVLogo.png" width="20%" /></div>
        <h1 th:text="${destinazione.nome}">Ibiza</h1>
      <div class = "boxImage"> 
         <img th:src="@{'data:image/png;base64,' + ${image.base64Image}}"/>
      </div>
      <div class = "boxImageMini">
         <ul>
            <li th:each="i : ${images}">
               <div class = "minibox">
                  <a th:href="@{'/destinazione' + '/' + ${destinazione.id} + '/' + ${i.id}}">
					<img th:href="@{'/destinazione' + '/' + ${destinazione.id} + '/' + ${i.id}}" 
                  th:src="@{'data:image/png;base64,' + ${i.base64Image}}"/>
                  </a>
               </div>
            </li>
         </ul>
      </div>
      <div class = "boxRecensioni">
         <div class ="recensione"> </div>
         <div class = "recensione"> </div>
      </div>
      <a class = "prenota"> Effettua prenotazione </a>
   </body>
</html>