body { 
    font-family: cursive;
    color:black;
    font-size: 15px;
    background-color:white;
    margin: 0 auto;
}

a { 
	text-decoration: none; 
  	color: darkgrey;
  	float:center;
}

a:hover { 
	text-decoration: underline; 
}

label {
	width: 8em;
	display: inline-block;
}

header {
  background-color: #fde910;
  height: 30px;
  padding: 0.2em;
  
}

header a{ 
	  text-decoration: none; 
    color: black;
    font-size: 20px;
    display:inline;
    float:right;
}

.home{
  float:left;
  color:black;
  margin-right:20px;
} 


.boxdestinazione{
	position:relative;
  	width:20em;
  	height:10em;
 	background-color: lightgrey;
  	border:solid;
  	margin:2em;
  	float:left;
  	bottom:100px;
  
}

.boxcategoria{
  	width:20em;
  	height:10em;
 	background-color: lightgrey;
  	border:solid;
  	margin:2em;
  	float:left;
  	bottom:100px;
  
}

.boxdestinazione .nome{
  position:relative;
  color:black;
  background-color:#fde910;
  top:-2em;
  left:1em;
  font-size:30px;
  
}

.boxcategoria .nome{
  color:black;
  background-color:#fde910;
  top:-2em;
  left:1em;
  font-size:30px;
  
}

.boxdestinazione img{
  width:100%;
  height:100%;
}


.search-form{
  position:relative;
  display:inline-block;
  left:70%;
  bottom:9em;
}

.search-label p {
  text-align:center;
  margin-bottom:1px;
  white-space:nowrap;
}

.search-button {
  position:relative;
  color:transparent;
  background-color:transparent;
  width: 24px; 
  height: 24px; 
  background-image:url("https://cdn-icons-png.flaticon.com/512/622/622669.png"); 
  background-size: cover; 
  border: none; 
  cursor: pointer;
  right:-5px;
  top:7px;
}

.logo{
  display:flex;
  left:40%;
  bottom:5px;
  justify-content: center;

}

.boxricerca{
  width:13em;
  height:0.8em;
}

ul {
list-style-type: none;
}

h1{
  position:absolute;
  top:10%;
  left:10px;
  display:inline-block;
}


input{
  font-size: 30px;
}


.error-message {
  	color: red;
  	font-style: italic;
}

.descrizione{
  width:30em;
  height:10em;
  font-size:15px;
}

.descrizioneContainer p{
position:relative;
  bottom:3.5em;
    
}

.boxImage{
  position:relative;
  left:5%;
  bottom:100px;
  width:30em;
  height:15em;
  background-color:grey;
  
}

.boxImageMini{
  position:relative;
  width:30em;
  height:12em;
  bottom:4em;
  left:5%;
  float:left;
}

.minibox{
  	position:relative;
  	border: solid;
  	width:8em;
  	height:5em;
  	margin-left:14px;
  	margin-top:12px;
  	float:left;
	right:7px;
	bottom:20px;
}

.boxImage img{
  width:100%;
  height:100%;
}

.boxImageMini img{
  width:100%;
  height:100%;
}


.boxRecensioni{
  position:relative;
  left:60%;
  bottom:250px;
  width:30em;
  height:40em;

}

.boxRecensioni .recensione{
  position:relative;
  width:100%;
  height:20%;
  top:30px;
border:solid;
  }

.recensione .conferma{
  position:absolute;
  bottom:0px;
  right:0px;
  
}

.recensione #titolo{
font-weight:bold;
  
}

.recensione .testo{
	position: absolute;
  	margin: 2px;
}


.prenota {
  position:relative;
  right:18em;
  top:4em;
  background-color:yellow;
  font-size:23px;
  color:black;
}


#flex-container {
  display: flex;
  align-items: flex-start;
  height: 400px;
}

.flex-item {
  background-color:black;
  height:70px;
  width:100px;
  margin:10px; 
  color:white;
}

span:hover{
  text-decoration: underline;
}

div.col {
  width: calc(50% - 10px);
}





.selezionaCategoria{
  position:relative;
  left:60%;
  bottom:5em;
  font-size:20px;
}

.categoriaTesto{
position:relative;
  left:60%;
  bottom:4.5em;
  display:inline-block;
}

.prenotazione{
  position:relative;
  top:15px;
  border:solid;
  margin-top:50px;
}

.prenotazione span{
  white-space:nowrap;
  margin-right: 50px;
}


.eliminaPrenotazione{
  color:red;
  float:right;
  margin-right:20px;
}
.recensioni {
  border:solid;
}



#img1 {
  background-color: black;
  height: 2em;
  margin-bottom: 2em;
  padding: 6em;
  margin: 40px;

}

#img2 {
  background-color: black;
  height: 2em;
  margin-bottom: 2em;
  padding: 6em;
  margin: 40px;
}

#img2 img {
  height: 100%;
  width:100%;
  object-fit: cover;
}

#flex-container-utente {
  display: flex;
  align-items: flex-start;
  height: 200px;
  justify-content: space-between;

}

.immagine_utente{
  width: 150px;
      height: 150px;
      background: red;
      border-radius: 50%
}

.box_utente{
  width:60%;
  border:dashed;
  
}

.container{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
	margin: 75px 200px;

}

.log {
  position:relative;
  text-align:center;
  margin-right: 10%;
  color:black;
}

.log1 {
  position:relative;
  text-align:center;
  margin-left: 350px;
  color:black;
}

.log .errore{
  color:red;
}

