<!DOCTYPE html>
<html>

<head>
	<title>
		SiwAInVacanza - Homepage
	</title>
	<link rel="stylesheet" href="/css/stileIndex.css" />
</head>

<body>
	<header>
		<div style="float:left"><a href="/">Home</a></div>
		<div th:if="${#request.userPrincipal}">
    		<span th:text="'Bentornato ' + ${#request.userPrincipal.principal.username}"></span>
    		<a href="/logout">Logout</a>
		</div>

		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><img src="/images/SiwVLogo.png" width="20%" /></div>
	<h1>Scegli il viaggio più adatto a te</h1>
	<h2>
		<a href="/categorie">Sfoglia le categorie</a>
	</h2>
  <div id="img1"></div>
	<h2>
		<a href="/destinazioni">Visualizza tutte le destinazioni</a>
	</h2>
  <div id="img2"></div>
</body>

</html>